
.container {
    display: flex;
    text-align: center;
    color: white;
}

.column {
    flex: 1;
    color: black;
    
    
}

.column:first-child {
    
}
.text-overlay {
    color:white ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width:500px;
  opacity: 50%;
  bottom: -50px;
  left: 85px;
  background-color: black;
    
}